.holder {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 84vh;
    background-color: hsl(59, 100%, 68%);
    border-radius: 25px;
    padding: 15px;
    box-shadow: 6px 6px 6px black;
    margin: 15px;
    text-align: center;
    flex : 1 ;
}

.holder:hover {
    transform: scale(1.001);
}

.holder-input {
    height: 40px;
    width : 80%;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 10px;
}

.holder-button {
    height: 45px;
    width : 13%;
    background-color: hsl(207, 100%, 50%);
    color: white;
    margin-left: 2%;
    font-size: 60%;
    border-radius: 10px;
}

.holder-button:active {
    transform: scale(0.98);
}
